body {
  background-color: #3a0996;
  background-image: linear-gradient(to bottom, #190542, #3a0996);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Brush Script MT", "Lucida Handwriting", cursive;
  text-align: center;
}
a {
  color: black;
  font-family: "Brush Script MT", "Lucida Handwriting", cursive;
}
a:visited {
  color: black;
}
#title{
  position: relative;
  bottom: 20px;
}
#title-link {
  text-decoration: none;
}
#eee-server-button {
  background-color: #000000;
  border: none;
  border-radius: 8px;
  height: 30px;
  width: 120px;
  transition-duration: 0.4s;
  border: 2px solid #000000;
}
#eee-server-button:hover {
  background-color: #ffffff00;
  color: black;
}
#eee-server-link {
  text-decoration: none;
  font-size: 11px;
  color: #969696
}
#eee-server-link:visited {
  color: #969696;
}
#github-logo {
  height: 32px;
  width: 32px;
}
#pfp {
  height: 60px;
  width: 60px;
  border-radius: 4px;
  position: relative;
}
#footer {
  position: relative;
  top: 600px;
}
